{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block title %}Categorías{% endblock %}

{% block contenido %}
    <h1>Categorías</h1>
    <p>Aquí podrás ver las categorías existentes.</p>
    <a href="{% url 'agregar_categoria' %}" class="btn btn-primary mb-3">Agregar Categoría</a>
        {% if categorias %}
        <ul class="list-group mt-3">
            {% for categoria in categorias %}
                <li class="list-group-item">
                    {{ categoria.nombre }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No hay categorías registradas aún.</p>
    {% endif %}
{% endblock %}
