{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Hola Mundo!</h1>
                    <p class="mb-5">
                        Bienvenido a la plataforma de datos curiosos. Explora autores, categorías y descubre hechos fascinantes para compartir y aprender.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
